/vendor
composer.phar
composer.lock
.DS_Store
/app/config
public/resources/*
!public/resources/default
public/vendor
app/database/*.sqlite
site/
bootstrap/compiled.php

_ide_helper_models.php
_ide_helper.php
.idea/
